<div class='register'>
<h1>Register</h1>
    <form   [formGroup]='registerForm' 
            (ngSubmit)="postNewColonist($event)"
            [ngClass]="{'submitting': submitting}">
    <fieldset>
        <input type="text" placeholder="Name"  formControlName='name' name="name">
        <input type="number" placeholder="Age"  formControlName='age' name="age">
        <select  formControlName='job_id' name="job_id">
            <option value="">Select occupation</option>
            <option *ngFor='let job of marsJobs' value="{{ job.id }}">{{job.name}}</option>
        </select>
    </fieldset>
    <fieldset>
        <button>Check in</button>
    </fieldset>
    </form>
</div>